@import "~materialize-css/dist/css/materialize.min.css";

div.input-field{
  margin: 0;
}

.card-content .btn{
  margin-right: 5px;
}

input.validate{
  padding-left: 11px !important;
}

.auth{
  font-weight: 800;
  margin-bottom: 1em;
  overflow-wrap: break-word;
}